# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
*-lock.json
material
*.code-workspace
inventory.code-workspace
public

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configuration 
/src/db.config.js